    <div class="nk-block">
        <div class="card card-bordered card-stretch">
            <div class="card-inner-group">
                <div class="card-inner">
                    <div class="card-title-group">
                        <div class="card-title">
                            <h5 class="title">Refundable</h5>
                        </div>
                        <div class="card-tools me-n1">
                            <ul class="btn-toolbar">
                                <li>
                                    <a href="#" class="btn btn-round btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#refundableCustomFee"><em class="icon ni ni-plus-circle"></em><span>Add Custom Fee</span> </a>
                                </li><!-- li -->
                            </ul><!-- .btn-toolbar -->
                        </div><!-- card-tools -->
                    </div><!-- .card-title-group -->
                </div><!-- .card-inner -->
                <div class="card-inner p-0">
                    <table class="table table-tranx table-bordered">
                        <thead>
                            <tr class="tb-tnx-head">
                                <th class="text-center" width="30%">Fee Type</th>
                                <th class="text-center" width="25%">Payment</th>
                                <th class="text-center" width="25%"> Fixed Amount <small>(Optional)</small> </th>
                                <th class="text-center" width="10%"> Actions  </th>
                            </tr><!-- tb-tnx-item -->
                        </thead>
                        <tbody>
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Security Deposit</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap ">
                                        <div class="form-control-select">
                                            <select class="form-control" id="default-06">
                                                <option value="default_option">Select</option>
                                                <option value="option_select_name">1Month</option>
                                                <option value="option_select_name">2 Months</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter fixed amount">
                                    </div>
                                </td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter fw-bold">Total</td>
                                <td class=" fw-bold"></td>
                                <td class="text-right fw-bold">$20</td>
                                <td class="tb-tnx-info">
                                </td>
                            </tr><!-- tb-tnx-item -->
                        </tbody>
                    </table>
                </div><!-- .card-inner -->
            </div><!-- .card-inner-group -->
        </div><!-- .card -->
    </div><!-- .nk-block -->
    <div class="nk-block">
        <div class="card card-bordered card-stretch">
            <div class="card-inner-group">
                <div class="card-inner">
                    <div class="card-title-group">
                        <div class="card-title">
                            <h5 class="title">Non Refundable</h5>
                        </div>
                        <div class="card-tools me-n1">
                            <ul class="btn-toolbar">
                                <li>
                                    <a href="#" class="btn btn-round btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#nonRefundableCustomFee"><em class="icon ni ni-plus-circle"></em><span>Add Custom Fee</span> </a>
                                </li><!-- li -->
                            </ul><!-- .btn-toolbar -->
                        </div><!-- card-tools -->
                    </div><!-- .card-title-group -->
                </div><!-- .card-inner -->
                <div class="card-inner p-0">
                    <table class="table table-tranx table-bordered">
                        <thead>
                            <tr class="tb-tnx-head">
                                <th class="tb-tnx-info text-center" width="30%">Fee Type</th>
                                <th class="tb-tnx-info text-center" width="25%">Annual Cost</th>
                                <th class="tb-tnx-info text-center" width="25%"> Monthly Cost </th>
                                <th class="tb-tnx-info text-center" width="10%"> Actions  </th>
                            </tr><!-- tb-tnx-item -->
                        </thead>
                        <tbody>
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Application Fee</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter amount">
                                    </div>
                                </td>
                                <td class="text-right">$ 24.67	</td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Adminstrator Fee</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter amount">
                                    </div>
                                </td>
                                <td class="tb-tnx-info text-right">$ 24.67	</td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Background Check</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter amount">
                                    </div>
                                </td>
                                <td class="tb-tnx-info text-right">$ 24.67	</td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Ammenities Fee</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter amount">
                                    </div>
                                </td>
                                <td class="tb-tnx-info text-right">$ 24.67	</td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Parking Fee</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter amount">
                                    </div>
                                </td>
                                <td class="tb-tnx-info text-right">$ 24.67	</td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Security Service Fee</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter amount">
                                    </div>
                                </td>
                                <td class="tb-tnx-info text-right">$ 24.67	</td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Liability Insurance</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter amount">
                                    </div>
                                </td>
                                <td class="tb-tnx-info text-right">$ 24.67	</td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Personal Insurance</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter amount">
                                    </div>
                                </td>
                                <td class="tb-tnx-info text-right">$ 24.67	</td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter">Renters Insurance</td>
                                <td class="tb-tnx-info">
                                    <div class="form-control-wrap">
                                        <div class="form-icon form-icon-left">
                                            <em class="icon ni ni-sign-dollar"></em>
                                        </div>
                                        <input type="text" class="form-control text-right" id="" placeholder="Enter amount">
                                    </div>
                                </td>
                                <td class="tb-tnx-info text-right">$ 24.67	</td>
                                <td class="text-center">
                                    <ul class="nk-chat-head-tools d-block">
                                        <li class="p-0"><a href="#" class="btn btn-icon btn-trigger text-primary"><em class="icon ni ni-trash"></em></a></li>
                                    </ul>
                                </td>
                            </tr><!-- tb-tnx-item -->
                            <tr class="tb-tnx-item">
                                <td class="tb-tnx-info bg-lighter fw-bold">Total</td>
                                <td class="tb-tnx-info text-right fw-bold">$ 295.99</td>
                                <td class="tb-tnx-info text-right fw-bold">$ 24.67</td>
                                <td class="tb-tnx-info"></td>
                            </tr><!-- tb-tnx-item -->
                        </tbody>
                    </table>
                </div><!-- .card-inner -->

            </div><!-- .card-inner-group -->
        </div><!-- .card -->
    </div><!-- .nk-block -->
    <div class="row">
        <div class="col-lg-12 text-right mt-3">
            <button class="btn btn-primary">Next</button>
        </div>
    </div><!-- .row -->
